@using System.Web.Mvc.Html
@model IEnumerable<AComicConundrum_ASeholm.Models.Comic>

@{
    ViewBag.Title = "Index";
}
@Scripts.Render("~/bundles/jquery")

<style>
    #comicContainer #comics table thead tr {
    background-color: #999;
    }
    #comicContainer #comics table thead tr th {
        padding: 10px;
        font-weight: bold;
        text-align: center;
    }
    #comicContainer #comics table tbody tr td {
        text-align: center;
        padding: 5px;
        border-bottom: 1px solid #999;
    }
    #comicContainer #comics table {
        border: 1px solid #999;
    }
    #comicContainer #comics table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }
</style>


<h2>Your Saved Comic Library</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="tblMyComics">
    <tr>
        <th> @Html.DisplayNameFor(model => model.strTitle) </th>
        <th> @Html.DisplayNameFor(model => model.iIssueNumber) </th>
        <th> @Html.DisplayNameFor(model => model.strSeries) </th>
        <th> @Html.DisplayNameFor(model => model.strPublisher) </th>
        <th> @Html.DisplayNameFor(model => model.strAuthor) </th>
        <th> @Html.DisplayNameFor(model => model.strArtist) </th>
        <th> @Html.DisplayNameFor(model => model.iYearPublished) </th>
        <th> @Html.DisplayNameFor(model => model.bRead) </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td> @Html.DisplayFor(modelItem => item.strTitle) </td>
            <td> @Html.DisplayFor(modelItem => item.iIssueNumber) </td>
            <td> @Html.DisplayFor(modelItem => item.strSeries) </td>
            <td> @Html.DisplayFor(modelItem => item.strPublisher) </td>
            <td> @Html.DisplayFor(modelItem => item.strAuthor) </td>
            <td> @Html.DisplayFor(modelItem => item.strArtist) </td>
            <td> @Html.DisplayFor(modelItem => item.iYearPublished) </td>
            <td> @Html.EditorFor(modelItem => item.bRead) </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }
</table>

@*@Html.Partial("_SearchMarvel", @Model)*@

<div class="container">
    <div class="row"></div>
    <div class="row"><h2>Search Comics Using Marvel API</h2></div>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="input-group">
                <div class="input-group-btn search-panel">
                    <button type="button" id="ddlbtnFilter" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-filter"></span><span id="search_concept"> Filter by</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#filterby_title"> By Title</a></li>
                    </ul>
                </div>
                <div class="input-group-btn order-by">
                    <button type="button" id="ddlbtnOrder" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-list"></span><span id="order_concept"> OrderBy </span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#orderby_title_ascending"> Title (asc)</a></li>
                        <li><a href="#orderby_title_descending"> Title (desc)</a></li>
                        <li><a href="#orderby_issuenumber_ascending"> Issue# (acs)</a></li>
                        <li><a href="#orderby_issuenumber_descending"> Issue# (desc)</a></li>
                    </ul>
                </div>
                <div class="input-group-btn limit-by">
                    <button type="button" id="ddlbtnLimit" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-stats"></span><span id="limit_concept"> Limit </span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#limitby_10"> Show 10</a></li>
                        <li><a href="#limitby_25"> Show 25</a></li>
                        <li><a href="#limitby_50"> Show 50</a></li>
                        <li><a href="#limitby_100"> Show 100</a></li>
                    </ul>
                </div>
                <input type="hidden" name="search_param" value="all" id="search_param">
                <input type="hidden" name="search_param" value="all" id="search_param">
                <input type="hidden" name="search_param" value="all" id="search_param">
                <input type="hidden" name="search_param" value="all" id="search_param">
                <input type="text"  id="txtMarvelSearch" class="form-control" name="x" placeholder="Search term...">
                <div class="input-group-btn execute-search">
                    <button id="btnMarvelSearch" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span> Search Marvel API </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="searchMsg"></div>

<table id="comicTable" class="table">
    <thead>
        <tr>
            <th> Title of Comic </th>
            <th> Issue# </th>
            <th> Series </th>
            <th> Page Count</th>
            <th> Creator/Contributor </th>
        </tr>
    </thead>

    <tbody></tbody>

</table>

<script type="text/javascript">

    //filter-by dropdown
    $('.search-panel .dropdown-menu').find('a').click(function (e) {
        e.preventDefault();
        var param = $(this).attr("href").replace("#", "");
        var concept = $(this).text();
        $('.search-panel span#search_concept').text(concept);
        //$('.input-group #search_param').val(param);
    });

    //order-by dropdown
    $('.order-by .dropdown-menu').find('a').click(function (e) {
        e.preventDefault();
        var param = $(this).attr("href").replace("#", "");
        var concept = $(this).text();
        $('.order-by span#order_concept').text(concept);
        //$('.input-group #search_param').val(param);
    });

    //Limit dropdown
    $('.limit-by .dropdown-menu').find('a').click(function (e) {
        e.preventDefault();
        var param = $(this).attr("href").replace("#", "");
        var concept = $(this).text();
        $('.limit-by span#limit_concept').text(concept);
        //$('.input-group #search_param').val(param);
    });

    //Execute Search Function
    $("#btnMarvelSearch").click(function () {
        var filter = document.getElementById('search_concept').innerHTML;//$("ddlbtnFilter").val();
        var order = document.getElementById('order_concept').innerHTML;//$("ddlbtnOrder").val();
        var limit = document.getElementById('limit_concept').innerHTML;//$("ddlbtnLimit").val();
        var text = $("#txtMarvelSearch").val();
        $("#comicTable tbody").html("");
        $("#searchMsg").html("");
        $.get("@Url.Action("GetComics", "Comic")", { _filter:filter, _order:order, _limit:limit, _text:text }, function (dt) {
            if (dt.data.results.length > 0) {
                $.each(dt.data.results, function (i, comic) {
                    var html = ""; //alert(comic.title);
                    html += "<tr id=" + comic.id + ">";
                    html += "<td>" + comic.title + "</td>";
                    html += "<td>" + comic.issueNumber + "</td>";
                    html += "<td>" + comic.series.name + "</td>";

                    if (comic.creators.items.length > 0)
                        html += "<td>" + comic.creators.items[0].name + " - " + comic.creators.items[0].role + "</td>";
                    else
                        html += "<td></td>";

                    html += "<td>" + comic.pageCount + "</td>";
                    $("#comicTable").find("tbody").append(html);
                    $("#comicTable").show();
                });
            }
            else { $("#searchMsg").html("There were no results for: " + text); }
        });//end of '$.get(...)'

    });
</script>
